body {
    background: url('./firewatch.jpg'); 
    background-attachment: fixed;
    background-position: center; 
    -webkit-background-size: cover;
    background-size: cover;
}
div.main { 
    background: #bd9945;
}
div.button {
    margin-top: 90px;
    height: 30px;
    background: #bd9945;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    background-color: #bd9945;
    color: #071471;
    
}
.nav-link {
    background-color: #bd9945;
}
.nav-tabs > li{
    margin-top: 20px;
}
.nav-tabs {
    border: none;
}
.nav {
    min-width: 70%;
}
img {
    border-radius: 10px;
}
hr {
    color: #071471;
}
a {
    color: #071471;
}
a:hover {
    color: #42128a;
}
a.act {
    color: black;
}

@media only screen and (min-width : 992px) {
    #borders {
        border-top-right-radius: 10px;
    }
    #left_angle {
        border-bottom-left-radius: 10px;
    }
    .tigers_rt3 {
        border-top-right-radius: 10px;
    }
    .tigers_lb2 {
        border-bottom-left-radius: 10px;
    }
    .tigers_rb2 {
        border-bottom-right-radius: 10px;
    }
}
@media only screen and (max-width : 992px) {
    #borders2 {
        border-top-right-radius: 10px;
    }
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
    .tigers_rt {
        border-top-right-radius: 10px;
    }
    .tigers_lb {
        border-bottom-left-radius: 10px;
    }
    .tigers_rb {
        border-bottom-right-radius: 10px;
    }
}
@media only screen and (max-width : 768px) {
    .tigers_rt2 {
        border-top-right-radius: 10px;
    }
    .tigers_l {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
@media only screen and (max-width : 768px) {
    .b1{
        border-top-right-radius: 10px;
    }
    
}   
@media all and (max-width: 992px) {
    .mobhide {
      display: none;
    }
    .fields {
        max-width: 90%;
    }
  }

